<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NanoBlog Control</title>
    <script src="/assets/control.js"></script>
    <link href="/assets/control.css" rel="stylesheet">
  </head>

  <body>
    <div class="main-container">
      <h1>nanoBlog Controller</h1>
      
      <div class="form-container">
        <div class="form-title">Generic Post</div>
        <form class="common-form" action="/control/generic-push" method="post">
          <select name="severity">
            <% NBLogger::SEVERITIES.each do |item| %>
              <option value="<%= item %>"><%= item %></option>
            <% end %>
          </select>

          <select name="subsystem">
            <option value="" selected>sub-system</option>
            <% store.system_names.each do |item| %>
              <option value="<%= item %>"><%= item %></option>
            <% end %>
          </select>

          <input type="text" id="message" name="message" placeholder="Message here" size=80>
          <input type="submit" value="Push">
        </form>
      </div>

      <div class="form-container">
        <div class="form-title">Add Sub-System Name</div>
        <form class="common-form" action="/control/create-sub-system" method="post">
          <input type="text" id="name" name="name" placeholder="Enter name">
          <input type="submit" value="Add">
        </form>
      </div>

      <div class="form-container">
        <div class="form-title">Delete Sub-System Name</div>
        <form class="common-form" action="/control/delete-sub-system" method="post">
          <select name="name">
            <option value="" disabled selected hidden>sub-system</option>
            <% store.system_names.each do |item| %>
              <option value="<%= item %>"><%= item %></option>
            <% end %>
          </select>
          <input type="submit" value="Delete">
        </form>
      </div>

      <div class="generic-post-form-container">

      </div>
    </div>
  </body>

</html>
