<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NanoBlog Control</title>
    <script src="/assets/api_client.js"></script>
    <script src="/assets/components.js"></script>
    <script src="/assets/log_entry_templates.js"></script>
    <script src="/assets/log_entries.js"></script>
    <script src="/assets/control.js"></script>
    <link href="/assets/control.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>

  <body>
    <div class="main-container">
      <h1><a href="/" target="_blank">nanoBlog Control</a></h1>
      <div id="flash-container"></div>
      <%= erb :_last_entry %>

      <div class="form-container">
        <div class="form-title">Post Message</div>
        <form id="create-log-entry-form" class="common-form" action="/control/api/log-entries" method="post">
          <select name="severity">
            <% LogEntry::SEVERITIES.each do |item| %>
              <option value="<%= item %>"><%= item %></option>
            <% end %>
          </select>

          <select name="component">
            <option value="" selected></option>
            <% Component.all.each do |item| %>
              <option value="<%= item.name %>"><%= item.name %></option>
            <% end %>
          </select>

          <input type="text" id="message" name="message" placeholder="Message here" size=80>
          <input type="submit" value="Push">
        </form>
      </div>

      <%= erb :_log_entry_templates %>
      <%= erb :_components_list %>
    </div>
  </body>

</html>
