<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NanoBlog</title>

    <link href="/style.css" rel="stylesheet">
  </head>

  <body>
    <div>
      <% NBLogger.new.tail(100).split("\n").each do |line| %>
        <div class="log-line">
          <% if line =~ /ERROR/ %>
            <pre class="error-level"><%= line %></pre>
          <% elsif line =~ /DEBUG/ %>
            <pre class="debug-level"><%= line %></pre>
          <% elsif line =~ /WARN/ %>
            <pre class="warn-level"><%= line %></pre>
          <% else %>
            <pre class="info-level"><%= line %></pre>
          <% end %>
        </div>
      <% end %>
    </div>
    <div><%= Time.now.utc %></div>
  </body>

</html>
